{{define "add"}}
<!DOCTYPE html>
<html lang="en">

    {{template "head" "Add"}}
<body>
    {{template "header" "Add"}}
    <main>
        <form method="POST" action ="/add">
        <input type="text" placeholder="Data for your block" required name="data"/>
            <button> AddBlock </button>
        </form>
    </main>
    {{template "footer"}}
</body>
</html>
{{end}}