{{define "block"}}
 <div>
            <ul>
                <li>Data: {{.Data}}</li>
                <li>Hash: {{.Hash}}</li>
                {{if .PrevHash}}
                    <li>PrevHash: {{.PrevHash}}</li>
                {{end}}
            </ul>
        </div>
        <hr />
{{end}}